/*  style.css
 *      NOTE: Due to the incredibly tiny size of this script, it is minified and then embedded directly
 *      into the index.html document.  This is provided merely for debugging.
 */

body {
    background: url('images/back.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-color: rgb(44, 62, 80);
    color: rgb(236, 240, 241);
    font-size: 18px;
}
p { margin: 0;}
a { font-size: 0.7em;}
#container {
    margin: 1em auto;
    float: none;
    text-align: center;
    max-width: 400px;
    width: 100%;
}
h1,h2 {
    line-height: 1em;
    padding: 0;
    margin: 0;
}
h1 {
    font-size: 2.5em;
    font-weight: 700;
}
h2 {
    font-size: 1.1em;
    font-weight: 700;
    letter-spacing: 0.6em;
    color: rgb(149, 165, 166);
    margin-bottom: 1em;
}
.btn {
    font-weight: 700;
    font-size: 1.7em;
    margin: 0 0.5em 1em 0;
    padding: 0.5em 0.8em;
}
.img-responsive {
    width: 100%;
    height: auto;
    margin: 0 auto 1em auto;
    border-radius: 2em;
}
span {
    background: rgba(189, 195, 199, 0.5);
    line-height: 64px;
    height: 64px;
    text-align: left;
    margin: 0 0 -1.5em 0;
    display: block;
    font-size: 2.2em;
    color: #000;
    text-transform: uppercase;
    padding: 0;
    position: relative;
    top: -4em;
    font-weight: 700;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgba(189, 195, 199, 0.5);
    text-shadow:    -1px -1px 0 rgba(189, 195, 199, 0.5),
                    1px -1px 0 rgba(189, 195, 199, 0.5),
                    -1px  1px 0 rgba(189, 195, 199, 0.5),
                    1px -1px 0 rgba(189, 195, 199, 0.5),
                    -2px -2px 0 rgba(189, 195, 199, 0.5),
                    2px -2px 0 rgba(189, 195, 199, 0.5),
                    -2px  2px 0 rgba(189, 195, 199, 0.5),
                    2px  2px 0 rgba(189, 195, 199, 0.5);
}
#disclaimer {
    font-size: 0.5em;
    opacity: 0.5;
    color: #000;
}
.icon {
    width: 64px;
    height: 64px;
    background-image: url("images/icons/sprite.png");
    margin: 0 0.4em -1em 0.25em;
    position: relative;
    top: -0.54em;
    display: inline-block;
}
.icon:after { overflow: auto; zoom: 1;}

/* Operator Icons (Sorted by Sprite Location) */
/* Row 1 */
.icon.Ash { background-position: 0 0;}
.icon.Bandit { background-position: -64px 0;}
.icon.Blitz { background-position: -128px 0;}
.icon.Buck { background-position: -192px 0;}
.icon.Castle { background-position: -256px 0;}
.icon.Doc { background-position: -320px 0;}
.icon.Frost { background-position: -384px 0;}
.icon.Fuze { background-position: -448px 0;}
/* Row 2 */
.icon.Glaz { background-position: 0 -64px;}
.icon.IQ { background-position: -64px -64px;}
.icon.Jager {background-position: -128px -64px;}
.icon.Kapkan { background-position: -192px -64px;}
.icon.Montagne {background-position: -256px -64px;}
.icon.Mute { background-position: -320px -64px;}
.icon.Pulse { background-position: -384px -64px;}
.icon.Rook { background-position: -448px -64px;}
/* Row 3 */
.icon.Sledge { background-position: 0 -128px;}
.icon.Smoke { background-position: -64px -128px;}
.icon.Tachanka { background-position: -128px -128px;}
.icon.Thatcher { background-position: -192px -128px;}
.icon.Thermite { background-position: -256px -128px;}
.icon.Twitch { background-position: -320px -128px;}
.icon.Blackbeard { background-position: -384px -128px}
.icon.Valkyrie { background-position: -448px -128px;}
/* Row 4 */
.icon.Capitao { background-position: 0 -192px;}
.icon.Caveira { background-position: -64px -192px;}
.icon.Echo { background-position: -128px -192px;}
.icon.Hibana { background-position: -192px -192px;}
.icon.Jackal { background-position: -256px -192px;}
.icon.Mira { background-position: -320px -192px;}
.icon.Lesion { background-position: -384px -192px; }
.icon.Ying { background-position: -448px -192px; }
/* Row 5 */
.icon.Ela { background-position: 0 -256px;}
.icon.Zofia { background-position: -64px -256px; }
.icon.Dokkaebi { background-position: -128px -256px; }
.icon.Vigil { background-position: -192px -256px; }
.icon.Recruit { background-position: -256px -256px; }